<div class="container mt-5 mb-5">

    <img src="" width="100%">
    <h1 class="text-center">Sobre</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, ratione velit. Earum debitis, magnam corrupti repellendus, placeat molestiae distinctio quasi rerum assumenda unde sint perferendis qui! Autem rerum velit aut.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, ratione velit. Earum debitis, magnam corrupti repellendus, placeat molestiae distinctio quasi rerum assumenda unde sint perferendis qui! Autem rerum velit aut.
    </p>
    <br>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, ratione velit. Earum debitis, magnam corrupti repellendus, placeat molestiae distinctio quasi rerum assumenda unde sint perferendis qui! Autem rerum velit aut.
    </p>
    <br>

</div>