<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-6" *ngIf="menuData">

            <a routerLink="../../menu" class="btn btn-sm btn-dark">Voltar</a>
            <img src="{{menuData[0].CoffeImg}}" alt="{{menuData[0].CoffeName}}" width="100%">
            <h1 class="mt-3">{{menuData[0].CoffeName}}</h1>
            <p>{{menuData[0].Cofferice|currency:'BRL'}}</p>
            <p>{{menuData[0].CoffeDetails}}</p>

        </div>

        <div class="col-lg-6">
            <h1 class="mt-5">Enter your details</h1>
            <form>

                <input type="text" class="form-control" placeholder="Enter your full name"/>
                <input type="text" class="form-control" placeholder="Enter your mobile"/>
                <textarea class="form-control" placeholder="informe seu endereço"></textarea>
                <button class="btn btn-md btn-dark mt-3">Pedir</button>

            </form>

        </div>

    </div>

</div>